@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-color: #4264de;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #fff;
  text-align: center;
  padding-top: 128px;
}

.card-wrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #dfdfff;
  padding: 24px 18px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-wrapper {
  background-color: #363636;
  padding: 6px 6px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-wrapper input {
  background: transparent;
  border: none;
  caret-color: #fff;
  color: #fff;
  font-size: 18px;
}

.input-wrapper input::placeholder {
  color: #bbb;
}

.input-wrapper input:focus {
  border: none;
  outline: none;
}

.input-wrapper i {
  color: #fff;
  transition: all 200ms ease;
  cursor: pointer;
}

.input-wrapper i:hover {
  font-size: 18px;
}

.weather-info {
  min-height: 200px;
}

.weather-info h3 {
  text-align: center;
}

.temperature,
.umi {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.temperature i {
  font-size: 32px;
  color: #d61e17;
}
.temperature span {
  font-size: 48px;
  font-weight: bold;
}

.umi i {
  color: #0a02ef;
}
